body{
	font-family: Montserrat;
	text-align: center;
	padding-top: 70px;
}


.navbar{
	background-color: #fff;
}

.navbar-default .navbar-nav>li>a{
	font-size: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #303030;
}

#aktiven{
	color: #b52025;

}

#logoBesedilo{
	width: 120px;
	margin: 20px;
}

.slika{
	background: url(https://images.unsplash.com/photo-1538306196939-82f33cccacad?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8c3ebd64083bb95f0b27c5d222b0f170&auto=format&fit=crop&w=1350&q=80);
	background-size: 100%;
	text-align: center;
	padding: 250px 0;
background-attachment: fixed;
}

.navbar-default .navbar-nav>li>a:hover{
	color: #303030;
}

h1{
	margin-bottom: 25px;
}

.container .form-group{
	padding-top: 30px
}

.row{
	margin-top: 0;
	height: 0px;
}
#datum{
	padding: 0;
	margin-top: 0;
	height: 34px;
	padding-left: 5px;
	padding-right: 10px
}
#visinaDatum{
		height: 34px;
}

.form-control:focus{
    outline:0px !important;
}

.form-control{
	border-radius: 0;
}

hr{
	margin-top: 0;
	padding-top: 0;
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

#gumb{
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #b52025;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	margin: 20px 0;
}